

<h1 class="text-center">神的仆人 - 陳希曾弟兄关于基督徒成长的书籍、灵修、信仰、析经参考</h1>

<div class="main-content content padd-tb-15">
	<div class="container">

		<div class="reading-plans-blocks shadow-block padd-100">
			<ul class="grid-list grid-list-4">
				<li class="grid-list-li shadow-block">

					<div class="reading-plan-block">
						<a class="clearfix"
							href="https://drive.google.com/file/d/19hFvD1iyOm9Ai4Gw9m6bfP87fw0z5l_n/view?usp=sharing">
							<img src="https://s3.amazonaws.com/cbm-images-bucket/john.jpg"
							alt="Default 0887b86e943768b8b9e77e4c">
							<div class="reading-plan-description">
								<h2 class="">约翰书信释义</h2>
								<p>约翰是最后一个去世的使徒。他在60－70年的教会经历中，认清了教会的需要，所以他在本书中就讲了很简单但很重要的真理。教会既经过保罗的许多理论，也经过了有苦难、有盼望、有喜乐的彼得的奋兴，就当进到约翰所讲的实际生活里面来，就是相交、相爱、行在光中、生命长进……。本书反复地讲论这几个重要的原则...</p>
							</div>
						</a>
						<div class="plan-stats">
							<span class="readers-count"> <i class="c-icon-open-book"></i>
								约翰书信释义
							</span> <span class="days-count"> <i class="c-icon-calendar"></i>
								90 Days
							</span>
						</div>
					</div>
				</li>
				<li class="grid-list-li shadow-block">

					<div class="reading-plan-block">
						<a class="clearfix"
							href="https://drive.google.com/file/d/12vX8QRAO2rEBMChtBTSy5BsasCCX8p3h/view?usp=sharing">
							<img src="https://s3.amazonaws.com/cbm-images-bucket/hebrews.jpg"
							alt="Default 265817f1a7baf36a3fa6e66c">
							<div class="reading-plan-description">
								<h2 class="">希伯来书释义</h2>
								<p>“你们得救是本乎恩，也因着信。这并不是出于自己，乃是神所赐的；也不是出于行为，免得有人自夸。”...</p>
							</div>
						</a>
						<div class="plan-stats">
							<span class="readers-count"> <i class="c-icon-open-book"></i>
								希伯来书释义
							</span> <span class="days-count"> <i class="c-icon-calendar"></i>
								365 Days
							</span>
						</div>
					</div>
				</li>
				<li class="grid-list-li shadow-block">

					<div class="reading-plan-block">
						<a class="clearfix" href="/plans/9"> <img
							src="https://s3.amazonaws.com/cbm-images-bucket/philippians.jpg"
							alt="Default 22cba72d306cf33ab5df4f84">
							<div class="reading-plan-description">
								<h2 class="">腓立比书</h2>
								<p>腓立比书3章至4章，谈论当防备错误的教训。3章是说保罗的舍弃与追求，是我们的好榜样。在荣耀里的基督是基督徒奔跑的目标。保罗舍弃一切，为要得着基督...</p>
							</div>
						</a>
						<div class="plan-stats">
							<span class="readers-count"> <i class="c-icon-open-book"></i>
								1172 Readers
							</span> <span class="days-count"> <i class="c-icon-calendar"></i>
								365 Days
							</span>
						</div>
					</div>
				</li>
				<li class="grid-list-li shadow-block">

					<div class="reading-plan-block">
						<a class="clearfix" href="/plans/4"> <img
							src="https://s3.amazonaws.com/cbm-images-bucket/provebs.jpg"
							alt="Default e2bede77f658e2831363c95e">
							<div class="reading-plan-description">
								<h2 class="">箴言书</h2>
								<p>智慧，不是人的智慧，而是敬畏神和顺服祂的真理...</p>
							</div>
						</a>
						<div class="plan-stats">
							<span class="readers-count"> <i class="c-icon-open-book"></i>
								52 Readers
							</span> <span class="days-count"> <i class="c-icon-calendar"></i>
								365 Days
							</span>
						</div>
					</div>
				</li>

				<li class="grid-list-li shadow-block">
					<div class="reading-plan-block">
						<a class="clearfix" href="/plans/5"> <img
							src="https://s3.amazonaws.com/cbm-images-bucket/bible.jpg"
							alt="Default e1dc661ad28dc2a83e114bd2">
							<div class="reading-plan-description">
								<h2 class="">撒母耳记上下概论</h2>
								<p>This Bible reading plan covers the whole Bible in one
									year, and follows the order of chronological events. For
									example, a Psalm written by David is read alongside the
									corresponding story about David.</p>
							</div>
						</a>
						<div class="plan-stats">
							<span class="readers-count"> <i class="c-icon-open-book"></i>
								7976 Readers
							</span> <span class="days-count"> <i class="c-icon-calendar"></i>
								365 Days
							</span>
						</div>
					</div>
				</li>
				<li class="grid-list-li shadow-block">

					<div class="reading-plan-block">
						<a class="clearfix" href="/plans/6"> <img
							src="https://s3.amazonaws.com/cbm-images-bucket/bible2.jpg"
							alt="Default 48621c039896c61ed9aa20a1">
							<div class="reading-plan-description">
								<h2 class="">民数记概论</h2>
								<p>This reading plan covers the entire New Testament in 90
									days. There are approximately three chapters per day.</p>
							</div>
						</a>
						<div class="plan-stats">
							<span class="readers-count"> <i class="c-icon-open-book"></i>
								4818 Readers
							</span> <span class="days-count"> <i class="c-icon-calendar"></i>
								90 Days
							</span>
						</div>
					</div>
				</li>
				<li class="grid-list-li shadow-block">

					<div class="reading-plan-block">
						<a class="clearfix" href="/plans/2"> <img
							src="https://s3.amazonaws.com/cbm-images-bucket/bible3.jpg"
							alt="Default 8e59460ed1d1c8c04a804b19">
							<div class="reading-plan-description">
								<h2 class="">出埃及记概论</h2>
								<p>Proverbs is a perfect book to accomplish in a month as it
									has 31 chapters. We hope that as you make your way through
									Proverbs the Lord will add to you wisdom, knowledge and
									understanding.</p>
							</div>
						</a>
						<div class="plan-stats">
							<span class="readers-count"> <i class="c-icon-open-book"></i>
								5912 Readers
							</span> <span class="days-count"> <i class="c-icon-calendar"></i>
								31 Days
							</span>
						</div>
					</div>
				</li>
				<li class="grid-list-li shadow-block">

					<div class="reading-plan-block">
						<a class="clearfix" href="/plans/3"> <img
							src="https://s3.amazonaws.com/cbm-images-bucket/bible5.jpg"
							alt="Default 593337d646e18235bb2ad8a7">
							<div class="reading-plan-description">
								<h2 class="">雅歌概论</h2>
								<p>Charles H. Spurgeon was England's best-known preacher for
									most of the second half of the 19th century, and has been named
									the "Prince of Preachers". His classic Morning and Evening
									continues to be...</p>
							</div>
						</a>
						<div class="plan-stats">
							<span class="readers-count"> <i class="c-icon-open-book"></i>
								7641 Readers
							</span> <span class="days-count"> <i class="c-icon-calendar"></i>
								365 Days
							</span>
						</div>
					</div>
				</li>

			</ul>
		</div>


	</div>
</div>



<div class="push"></div>
